input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    width: 100%;
    color: $color__text-input;
    border: 1px solid $color__border-input;
    border-radius: .25rem;
    padding: 3px;
    &:focus {
        color: $color__text-input-focus;
    }
}

label {
    display: block;
    text-align: left;
    color: #888;
}

select {
    width: 100%;
    color: $color__text-input;
    border: 1px solid $color__border-input;
    border-radius: 3px;
    padding: 3px;
    &:focus {
        color: $color__text-input-focus;
    }
}

textarea {
    width: 100%;
}

.acf-fields.-border {
    border: 1px solid #eee !important;
}

.acf-field input[type=text],
.acf-field input[type=password],
.acf-field input[type=date],
.acf-field input[type=datetime],
.acf-field input[type=datetime-local],
.acf-field input[type=email],
.acf-field input[type=month],
.acf-field input[type=number],
.acf-field input[type=search],
.acf-field input[type=tel],
.acf-field input[type=time],
.acf-field input[type=url],
.acf-field input[type=week],
.acf-field textarea,
.acf-field select {
    border-radius: .25rem !important;
    border: 1px solid #d8dee6 !important;
    line-height: 1.875rem !important;
    min-height: 3rem;
    &:active,
    &:focus,
    &:focus-visible {
        border-color: #1b96ff !important;
    }
}

.acf-form-fields .acf-field-group .acf-label label,
.acf-add-vehicles .acf-th label {
    font-weight: 700 !important;
    font-size: 16px !important;
    color: $color__secondary !important;
    margin: .75rem 0 1rem 0;
}

.acf-form-fields .acf-field-group .acf-input label {
    font-weight: 400 !important;
    font-size: 14px;
}

.acf-label {
    margin-bottom: .125rem !important;
}

.acf-field .acf-label label {
    padding-left: .25rem !important;
    font-size: .75rem !important;
    font-weight: 400 !important;
    color: $color__secondary !important;
}

.acf-add-vehicles .acf-label label {
    font-weight: 700 !important;
    font-size: 16px !important;
    color: $color__secondary !important;
    margin: 0 !important;
    padding: 0 !important;
}

.acf-add-vehicles>.acf-label {
    display: block;
    border-radius: 4px;
    background-color: #f4f6f9;
    border: 1px solid #ececec;
    padding: 1rem;
}

.acf-add-vehicles .acf-label .description {
    font-size: 14px !important;
}

.acf-row-handle {
    display: none !important;
}

.acf-repeater>table,
.acf-table>thead>tr>th,
.acf-table>tbody>tr>td {
    border: 0 !important;
}

.acf-fields>.acf-field {
    border-top: 0 !important;
}