$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #31b350;
$color__background-button-hover: rgba(#31b350, .8);
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__text-button: #fff;
$color__text-button-hover: #fff;
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #335eff;
$color__link-visited: #31b350;
$color__link-hover: #31b350;
$color__text-main: #404040;
$color__border-button: #31b350;
$color__border-button-hover: rgba(#31b350, .8);
$color__border-button-focus: #31b350;
$color__border-input: #ccc;
$color__border-abbr: #666;
$color__headings: #335eff;
$color__primary: #335eff;
$color__secondary: #31b350;