.site-content {
    position: relative;
    z-index: 1;
}

.center {
    text-align: center;
}

.middle {
    margin: 0 auto;
}

// All other texts
.jon3 {
    font-size: 24px;
    color: #222;
    li {
        color: #444;
        font-size: 18px;
    }
    ol {
        margin: 0 0 0 32px;
    }
    &.b {
        color: #065fd4;
    }
    &.s {
        font-size: 18px;
        padding: 8px;
    }
    &.center {
        width: 100%;
        text-align: center;
    }
    &.active,
    .active {
        color: #065fd4;
    }
}

.redirect {
    padding: 16px;
    max-width: 1000px;
    margin: 0 auto;
    .t1 {
        font-size: 28px;
        color: #222;
    }
    .t2 {
        padding: 16px 0;
        font-size: 22px;
        color: #222;
    }
    .t3 {
        font-size: 18px;
        color: #114a95;
    }
}

.acf-jon {
    float: left;
    width: 50%;
    clear: none !important;
    height: 96px;
    border-top: none !important;
    border-bottom: 1px !important;
}

.acf-actions {
    text-align: center !important;
    .acf-button {
        font-weight: bold;
        color: #444 !important;
        border: none;
        background: none;
    }
}

.coverage {
    padding: 16px 0 0;
    font-size: 13px;
    color: #626262;
}

.acf-coverage-and-liability {
    .acf-input {
        border-top: 1px solid #aaa;
        padding-top: 8px;
        li {
            padding: 8px 0 !important;
            &:hover {
                cursor: pointer;
                background: #efefef;
            }
            label {
                color: #222;
                font-size: 13px;
                &:hover {
                    cursor: pointer;
                    background: #efefef;
                }
            }
            input {
                &:hover {
                    cursor: pointer;
                    background: #efefef;
                }
            }
        }
    }
}

.form-arrow,
.form-title,
.form-page {
    display: flex;
    padding: 6px 0 6px 12px;
    align-items: center;
}

.form-arrow {
    justify-content: left;
    .material-icons {
        cursor: pointer;
        color: $color__link;
        &:hover {
            color: $color__link-hover;
        }
    }
}

.form-title {
    justify-content: center;
}

.form-page {
    justify-content: right;
}

.page_number {
    color: #aaa;
    font-size: 14px;
    padding: 4px;
}

.mod {
    float: left;
    width: 50%;
    &.top {
        margin-top: 24px;
    }
    &.small {
        width: 33%;
    }
    .col-desk-6 {
        width: 100%;
        &.m {
            margin-bottom: 16px;
        }
    }
}

// Block elements
.hidden {
    display: none;
}

.disclaimer {
    padding: 24px 16px;
    font-size: 9px;
}