.site-header {
    display: flex;
    top: 0;
    width: 100%;
    min-height: 140px;
    align-items: center;
    z-index: 99;
    background-color: #fff;
}

.site-branding,
.site-cta,
.site-social {
    display: flex;
    padding: 6px 0 6px 12px;
    align-items: center;
}

.site-cta {
    justify-content: left;
}

.site-cta {
    justify-content: center;
}

.site-social {
    justify-content: right;
}

.site-title {
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
    padding: 0;
    margin: 0;
    a {
        color: $color__link-hover;
        &:hover {
            color: $color__link;
            text-decoration: none;
        }
    }
}

.site-sub-header {
    padding: 0 !important;
    h2 {
        color: #fff;
        font-size: 14px;
    }
}

@media screen and (min-width: 993px) {
    .site-branding {
        .custom-logo {
            width: 300px;
        }
    }
}