.site-header {
    display: flex;
    top: 0;
    width: 100%;
    min-height: 80px;
    align-items: center;
    z-index: 99;
    background-color: #f4f6f9;
}

.site-title {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    color: #fff;
    padding: 0;
    margin: 0;
    a {
        color: $color__link;
        &:hover,
        &:visited {
            color: $color__link;
            text-decoration: none;
        }
    }
}

.site-branding {
    display: flex;
    padding: 6px 0 6px 12px;
    justify-content: center;
    align-items: center;
    .material-icons {
        font-size: 40px;
        top: -4px;
        position: relative;
        color: #222;
        padding-right: 18px;
    }
}

.site-cta {
    display: flex;
    padding: 6px 12px 6px 0;
    justify-content: center;
    align-items: center;
    .material-icons {
        font-size: 40px;
        top: -4px;
        position: relative;
        color: #31b350;
        padding-right: 18px;
    }
    .cta {
        color: #333;
    }
    p {
        color: #fff;
        text-align: right;
    }
}

@media screen and (min-width: 993px) {
    .site-branding {
        .custom-logo {
            width: 300px;
        }
    }
}