.container {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1400px;
    padding: 0 12px;
    margin: 0 auto;
}

.site-main {
    padding: 0 0 2em 0;
    h3 {
        font-weight: 400;
    }
}

.section {
    padding: 1em 0;
}